.ipynb_checkpoints/draft plotly vis-checkpoint.ipynb
FERF_ozone_preprocessed.pkl
.ipynb_checkpoints/data explorer notebook-checkpoint.ipynb
.ipynb_checkpoints/preprocess data and draft plotly vis-checkpoint.ipynb
FERF ozone data_4-23-2020_2.csv